<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <?php
    foreach ($students as $i => $student) {
        echo '<p>' . ($i) . ' <a href="?delete=oki&stid=' . $student->id . '">' . $student->name . '</a></p>';
        echo '<p> Age: '.$student->age.'</p>';
        echo '<p>University: '.$student->university.'</p>';
        echo '<br>';
    }
    ?>
    <a href="../index.php">Back</a>

    <!--  <a href='?stid=" . $student->id . "'>" . $student->name . "</a> -->
</body>
</html>